<!DOCTYPE html>
<html>

<head>
    <title><%= title %> </title>
    <style>
        body {
            text-align: center;
        }

        .button {
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>
</head>

<body>



    <h1>Hoşgeldiniz <%= data.Adi ? data.Adi :"Kullanıcı"  %></h1>

    <% if(forgotPasswordKey){ %>
    <h3><a class="button" href="http://206.189.177.39/forgotPassword/<%= forgotPasswordKey %>">Dogrulamak için tıklayınız</a></h3>
    <% }  %>




</body>

</html>